/*
Mustafa Omran
video broadcast
*/



*{
    padding: 0;
    margin: 0;
}


#full_site{
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
    
    
}



#header{
    height: 60px;
    width: 1000px;
   background-color:#0066dc;
   padding:0 10px;
   position: fixed;

}

#list_icon{
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 10px;
    
}


#name{
    float: left;
    font-family: cursive;
    color: #ffffff;
    font-size: x-large;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}



#search form input[type=text]{
    margin-left: 10px;
    width: 500px;
    height: 50px;
    margin-top: 5px;
    color: #919595;
    font-family: cursive;
    font-size:large;
    border: 2px #0066dc none;
    border-radius: 2px;
    
    
}



#search form input[type=button]{
    width: 100px;
    height: 35px;
    border: 3px #ffffff solid;
    background-color: #0066dc;
    font-family: cursive;
    color: #ffffff;
    font-size:large;
    margin-top: 3px;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 10px;

}

#search form input[type=button]:hover{
  color: #0066dc;
  background-color:#ffffff;
}


#search form input[type=submit]{
    width: 100px;
    height: 50px;
    border: 0px;
    background-color: #0066dc;
    font-family: cursive;
    color: #ffffff;
    font-size: large; 
    float: right;
    margin-top: 5px;
    border: 2px #ffffff dashed;
}


#search form input[type=submit]:hover{
        background-color: #0066dc;
        font-size: 25px; 
        font-weight: bolder;
}

#search form img{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    margin-bottom: -10px;
    margin-left: -35px;
}


#nav{
    width: 1020px;
    height: 60px;
    border-bottom: 3px #919595 solid;
}

#nav ul{
   margin-left: 350px;
}

#nav ul li {
    float: left;
    list-style: none;
    font-size: xx-large;
    margin-left:20px;
    
 }
 
 #nav ul li a{
    text-decoration: none;
    color: #0066dc;
    border-bottom: 3px #0066dc solid;
    
 }
 
  #nav ul li a:hover{
    color: #919595;
 }
 
  #nav ul li:first-child a{
    color: #919595;
    border: none;
 }
 
   #nav ul li:first-child a:hover{
   border-bottom: 3px #0066dc solid;
   color: #0066dc;
    
 }
 
 #follow_up{
     height: 800px;
     width: 400px;
     float: left;
     font-family: cursive;
     margin-left: 50px;
     
 }
 
 #follow_up h1{
 color: #919595;
 font-size: xx-large;
font-weight: normal;
 margin-top: 10px;
 } 
 
#follow_up h2{
 color: #919595;
 font-size:large;
font-weight: normal;
 } 
 
#most_watched{
          width: 550px;;
          height: 800px;
          float: right;
          font-family: cursive;
    
}

.video{
    width: 400px;
    height: 250px;
}

.video_icon{
    background-color: tomato;
    width: 150px;
    height: 200px;
    background: url(../img/video_icon.png) no-repeat ;
    float: left;
    margin-top: 40px;
}

.video_text h1 a{
 text-decoration: none;
 font-family: cursive;
 font-size: xx-large;
}

.video_text {
    width: 250px;
    height: 200px;
    color: #919595;
    float:right;
    margin-top: 20px;
    font-family: cursive;
}

.video_text input[type="button"]{
    width:60px;
    height: 35px;
    background-color: #ffffff;
    border: 3px #0066dc solid;
    border-radius:5px; 
    font-size: large;
    color: #0066dc;
    font-family: cursive;
} 
 
.video_text input[type="button"]:hover{
    background-color: #0066dc;
    color: #ffffff;
} 

.video_two{
    width: 550px;
    height: 130px;
    float: right;
    
  
}

.video_icon_two{
    width: 235px;
    height: 120px;
    float: left;
    margin-top: 40px;
    margin-left: 30px;
    background: url(../img/video_icon_wide.png) no-repeat;
}

.video_text_two{
    width: 250px;
    height: 120px;
    float: right;
     margin-top: 40px;
     margin-left: 10px;
}

.video_text_two h1 a{
    text-decoration: none;
    color: #0066dc;
}

.video_text_two h1 a:hover{
    color: #919595;
  
}

.video_text_two h2 {
    text-decoration: none;
    color: #919595;
}

h6{
font-family: cursive;
font-size: x-large;
color: #919595;
text-align: center;
}

h6 a{
font-family: cursive;
font-size: large;
color: #0066dc;
text-decoration: none;
}


